APP_NAME=POINTIFY
APP_ENV=production
APP_DEBUG=false
APP_URL=https://domain-vercel-kamu.vercel.app

APP_STORAGE_PATH=/tmp/storage
VIEW_COMPILED_PATH=/tmp/storage/framework/views

LOG_CHANNEL=stderr
LOG_STACK=stderr
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
DB_PORT=6543
DB_DATABASE=postgres
DB_USERNAME=postgres.lozeqjozebbzytbydiji
DB_PASSWORD=ISI_PASSWORD_SUPABASE
DB_SSLMODE=require
DB_EMULATE_PREPARES=true

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
QUEUE_CONNECTION=sync
CACHE_STORE=database

FILESYSTEM_DISK=s3

SUPABASE_URL=https://lozeqjozebbzytbydiji.supabase.co
SUPABASE_ANON_KEY=ISI_ANON_KEY
SUPABASE_SERVICE_ROLE_KEY=ISI_SERVICE_ROLE_KEY

AWS_ACCESS_KEY_ID=ISI_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=ISI_SECRET_ACCESS_KEY
AWS_DEFAULT_REGION=ap-southeast-1
AWS_BUCKET=dpu-files
AWS_ENDPOINT=https://lozeqjozebbzytbydiji.storage.supabase.co/storage/v1/s3
AWS_USE_PATH_STYLE_ENDPOINT=true
AWS_VISIBILITY=public

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=ISI_EMAIL
MAIL_PASSWORD=ISI_APP_PASSWORD_GMAIL
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=ISI_EMAIL
MAIL_FROM_NAME="POINTIFY"

VITE_APP_NAME="${APP_NAME}"